.logo .ezlearn {
    width: 0px;
}
.looka-1j8o68f {
    height: 2.7rem;
    width: 2.7rem;
}
.logo {
    width: 60px;
    transition: 0.75s;
}
@media only screen and (min-width: 992px) {
    .logo:hover .ezlearn {
        width: 100px;
    }
    .logo:hover {
        width: 110px;
        transition: 0.25s;
    }
}
