/* links */
.nav-link {
    border-bottom: 3px solid transparent;
    margin-bottom: 1px;
}
.active {
    border-bottom: 3px solid var(--purple);
}

/* search box */
@media only screen and (min-width: 992px) {
    form[role="search"] {
        width: 50%;
    }
}
nav form[role="search"] button {
    left: 9px;
}

/* user profile drop down */
.nav-user {
    border-bottom: 2px solid transparent;
}
.nav-user:hover {
    border-bottom: 2px solid var(--purple);
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--pink-d);
    --bs-dropdown-link-hover-bg: var(--pink-d);
    --bs-dropdown-link-hover-color: white;
}
.dropdown-item {
    transition: 0.2s;
}
.dropdown-hover:hover > .dropdown-menu {
    display: block;
}
